Pong/obj
Pong/Library
Pong/.vs
Pong/Library
Pong/library
Pong/Temp
Pong/temp
Pong/Obj
Pong/obj
Pong/Build
Pong/build
Pong/Builds
Pong/builds
Pong/UserSettings
Pong/usersettings
Pong/MemoryCaptures
Pong/memorycaptures
Pong/Logs
Pong/logs
Pong//ignore.conf
Pong/*.private
Pong/*.private.meta
Pong/^*.private.[0-9]+$
Pong/^*.private.[0-9]+.meta$
Pong/**/Assets/AssetStoreTools
Pong/**/assets/assetstoretools
Pong//Assets/Plugins/PlasticSCM*
Pong//assets/plugins/PlasticSCM*
Pong/.vs
Pong/.gradle
Pong/ExportedObj
Pong/.consulo
Pong/*.csproj
Pong/*.unityproj
Pong/*.sln
Pong/*.suo
Pong/*.tmp
Pong/*.user
Pong/*.userprefs
Pong/*.pidb
Pong/*.booproj
Pong/*.svd
Pong/*.pdb
Pong/*.mdb
Pong/*.opendb
Pong/*.VC.db
Pong/*.pidb.meta
Pong/*.pdb.meta
Pong/*.mdb.meta
Pong/sysinfo.txt
Pong/*.apk
Pong/*.unitypackage
Pong/.collabignore
Pong/crashlytics-build.properties
Pong/**/Assets/AddressableAssetsData/*/*.bin*
Pong/**/assets/addressableassetsdata/*/*.bin*
Pong/**/Assets/StreamingAssets/aa.meta
Pong/**/assets/streamingassets/*/aa/*
Pong/.DS_Store*
Pong/Thumbs.db
Pong/Desktop.ini